<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gpf.rebisoft.gpf">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_gpf"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".activitys.PrincipalActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activitys.DetailActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <!-- <activity -->
        <!-- android:name=".activitys.DetailActivity" -->
        <!-- android:parentActivityName=".activitys.PrincipalActivity" > -->
        <!-- &lt;!&ndash; Parent activity meta-data to support 4.0 and lower &ndash;&gt; -->
        <!-- <meta-data -->
        <!-- android:name="android.support.PARENT_ACTIVITY" -->
        <!-- android:value=".activitys.PrincipalActivity" /> -->
        <!-- </activity> -->
        <activity
            android:name=".activitys.JugadorActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activitys.CreateActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.CreateJugadorActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".activitys.AjustesActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>